{% extends "base.html" %}

{% block title %}Subject add{% endblock title %}

{% block content %}
    <section class="container-fluid bg-light" id="main-content">
        <section class="container">
            <h1>Add Subject</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>  
                {% endfor %}
            {% endif %}
            <div class="content bg-white p-5 my-auto border border-2 rounded">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-12 col-md-6">
                            <label for="name" class="form-label">Subject Name</label>
                            <input type="text" class="form-control" id="name" name="subject">
                        </div>

                        <div class="mb-3 col-12 col-md-2">
                            <label for="course" class="form-label">Course</label>
                            <select class="form-select" name="course">
                                {% for course in courses %}
                                    <option value="{{ course.id }}" required>{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3 col-12 col-md-2">
                            <label for="teacher" class="form-label">Teacher</label>
                            <select class="form-select" name="teacher">
                                {% for teacher in teachers %}
                                    <option value="{{ teacher.user_id }}" required>{{ teacher.user.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
    </section>
{% endblock content %}