{% extends "base.html" %}

{% block title %}Student Detail{% endblock title %}

{% block content %}
<section class="container-fluid bg-light" id="main-content">
            <div class="container">
                <h1>Teacher Details</h1>
                <div class="content bg-white p-5 my-3 border border-2 rounded">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            {% if teacher.user.profile_pic %}
                                <img src="{{ teacher.user.profile_pic.url }}" alt="Profile Picture" class="img-fluid" width="150">
                            {% endif %}
                        </div>
                    
                        <div class="col-md-8">
                            <p><strong>Teacher Name:</strong> {{ teacher.user.first_name }} {{ teacher.user.last_name }}</p>
                            <p><strong>Username:</strong> {{ teacher.user.username }}</p>
                            <p><strong>Email:</strong> {{ teacher.user.email }}</p>
                            <p><strong>Gender:</strong> {{ teacher.gender }}</p>
                            <p><strong>Department:</strong> {{ teacher.department }}</p>
                            <p><strong>Address:</strong> {{ teacher.address }}</p>
                            <p><strong>Phone Number:</strong> {{ teacher.phone_no }}</p>
                        </div>
                    </div>
                
                    <div class="mt-4">
                        <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
</section>
{% endblock content %}
