<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <section>
      <div>
        <h1>Registration</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h2>User Details</h2>
          {{ user_form.as_p }}
          <button type="submit">Register</button>
        </form>
      </div>
    </section>

    {% comment %} <script>
      document.addEventListener("DOMContentLoaded", function() {
        var userTypeField = document.getElementById("id_user_type");

        function toggleForms() {
            var userType = userTypeField.value;
            document.getElementById("student-form").style.display = (userType === "student") ? "block" : "none";
            document.getElementById("teacher-form").style.display = (userType === "teacher") ? "block" : "none";
        }

        userTypeField.addEventListener("change", toggleForms);
        toggleForms();  
    });
    </script> {% endcomment %}
  </body>
</html>
