<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <section>
        <div>
            <h1>Registration</h1>
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form}}
                if user_form.user_type == 'student':
                    {{student_form}}
                elif user_form.user_type == 'teacher':
                    {{teacher_form}}
                elif user_form.user_type == 'admin':
                    {{admin_form}}
                else:
                    {{student_form}}
                <button type="submit">Register</button>
            </form>
        </div>
    </section>
</body>
</html>